html, body {
    display: flex;
    justify-content: center;
    position: fixed;
}

.App {
  display: flex;
  flex-direction: row;
}

.App .list {
    background-color: blue;
    margin: 0;
    padding: 0;
    line-height: 1.3;

}

.App .list li {
    list-style: none;
    margin: 0 auto;
    padding: 0 auto;
}

.App .list .list-item {
    display: flex;
    background-color: red;
    margin: 0;
    padding: 0.5em;
    width: 100%;
}

.App .list .list-item .content {
    background-color: #fff;
    padding: 1em;
    width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
